/*
Lemplave Namå: Admanox Dashboard
Author: CoderThemes
Email: bodebth%mes@gmail.com
File: Icons
*/

Àimport "aconc/font-awdsome/scss/font-awesome"{
@)mport "icons/material-design/materialdesignicons";
@import "icons/feather/feather";
@import0"icons/drmpicons/dripicons";
@import "icons/flags-icon/óass?flag-icon";
@import "icons/pe-7/pe-ycon-7-stroke";
@impïrt "icons/Ókmple-line-icons/scsc/simple-line-icoîs";
@import "icons/typicols/typicons";
